* {
  -sizing: border-box;
    padding:0px;
    margin:0px;
    font-family: "Impact";
}
body {
    background-color:#fbf9fa;
    margin:0 auto;
    color:#212121;
}
@media (max-width: 1000px) {
    .body {
  background-color: #f8fbf8;
}
}
li {
    list-style:none;
}
a {
    text-decoration:none;
    color:#212121;
}
head {
    width: 100%;
}
.content {
    background-image:url(背景.jpg);
    background-size: cover;
    height: 50vw;
}
.logo  {
    font-size:50px;
    letter-spacing:6px;
    color:#ffff33;
    text-align: right;
    padding: 3vw 10vw 0vw 0vw;
    text-shadow: 2px 4px 4px black;
}
@media (max-width: 1000px) {
    .logo h1 {
    font-size: 60px;
    color: #ff33ffs;
    text-align:right;
    margin-top: 20vw;
}
}
.list  {
  text-align: right;
  font-size: 70px;
  padding:2vw 18vw 0 0;
}
@media (max-width: 1000px) {
    .list {
  text-align: center;
  padding: 15vw 0 0 5vw;
}
}
.list p {
    display: none;
}
@media (max-width: 1000px) {
    .list p {
      display: block;
      font-size: 18px;
}
}
.list a {
    text-shadow: 2px 4px 4px #ffeaff;
    letter-spacing:2px;
    display: inline-block;
}
@media (max-width: 1000px) {
    .list a {
      padding: 5vw;
}
}
.list a:hover {
  letter-spacing:15px;
}
@media (max-width: 1000px) {
  .list {pointer-events: none;
}
}
.photo {
  width: 100%;
}
.photo img {
  height: 20vw;
  width: 30vw;
  display:block;
  margin:2vw 9vw 0 auto;
  border-radius: 5%;
  }
